Repository hummingbot/hummingbot, pull requests merged in 2020-05, with the labels that each got.

#1763 docs / unattended docker
  documentation/docs/installation/unattended.md
  documentation/mkdocs.yml
Labels: docker, docs

#1724 docs / order refresh tolerance and price bands
  documentation/docs/strategies/advanced-mm/index.md
  documentation/docs/strategies/advanced-mm/order-levels.md
  documentation/docs/strategies/advanced-mm/order-refresh-tolerance.md
  documentation/docs/strategies/advanced-mm/price-band.md
  documentation/mkdocs.yml
Labels: docs

#1767 Fix / paper trade binance no history
  hummingbot/strategy/pure_market_making/pure_market_making_v2.pyx
Labels: binance, paper trading
