Repository hummingbot/hummingbot, pull requests merged in 2020-07, with the labels that each got.

#1816 feat / Eterbase exchange connector
  conf/__init__.py
  hummingbot/client/command/connect_command.py
  hummingbot/client/config/fee_overrides_config_map.py
  hummingbot/client/config/global_config_map.py
  hummingbot/client/hummingbot_application.py
  hummingbot/client/settings.py
  hummingbot/core/utils/trading_pair_fetcher.py
  hummingbot/market/eterbase/__init__.py
  hummingbot/market/eterbase/eterbase_active_order_tracker.pxd
  hummingbot/market/eterbase/eterbase_active_order_tracker.pyx
  hummingbot/market/eterbase/eterbase_api_order_book_data_source.py
  hummingbot/market/eterbase/eterbase_api_user_stream_data_source.py
  hummingbot/market/eterbase/eterbase_auth.py
  hummingbot/market/eterbase/eterbase_constants.py
  hummingbot/market/eterbase/eterbase_in_flight_order.pxd
  hummingbot/market/eterbase/eterbase_in_flight_order.pyx
  hummingbot/market/eterbase/eterbase_market.pxd
  hummingbot/market/eterbase/eterbase_market.pyx
  hummingbot/market/eterbase/eterbase_order_book.pxd
  hummingbot/market/eterbase/eterbase_order_book.pyx
  hummingbot/market/eterbase/eterbase_order_book_message.py
  hummingbot/market/eterbase/eterbase_order_book_tracker.py
  hummingbot/market/eterbase/eterbase_order_book_tracker_entry.py
  hummingbot/market/eterbase/eterbase_trading_rule.pxd
  hummingbot/market/eterbase/eterbase_trading_rule.pyx
  hummingbot/market/eterbase/eterbase_user_stream_tracker.py
  hummingbot/market/eterbase/eterbase_utils.py
  hummingbot/templates/conf_global_TEMPLATE.yml
  hummingbot/user/user_balances.py
  test/integration/test_eterbase_active_order_tracker.py
  test/integration/test_eterbase_market.py
  test/integration/test_eterbase_order_book_tracker.py
  test/integration/test_eterbase_user_stream_tracker.py
Labels: new exchange

#2013 refactor / dockerfile to reduce image size
  Dockerfile
  installation/docker-commands/create-web3.sh
  installation/docker-commands/create.sh
  installation/docker-commands/update-web3.sh
  installation/docker-commands/update.sh
  setup/environment-linux.yml
Labels: docker

#2023 fix / Fix docker scripts
  installation/docker-commands/create-web3.sh
  installation/docker-commands/create.sh
Labels: docker

#2026 fix/ celocli access in docker [Fixes #2024]
  Dockerfile
Labels: bug, celo, docker
