Repository hummingbot/hummingbot, pull requests merged in 2020-06, with the labels that each got.

#1813 docs/adding_more_documentation_to_advanced_MM
  documentation/docs/assets/img/hanging_orders_example_market.png
  documentation/docs/assets/img/hanging_orders_example_market_adv_no_hang.png
  documentation/docs/assets/img/hanging_orders_example_market_adv_with_hang.png
  documentation/docs/assets/img/order_refresh_tolerance_sample_market.png
  documentation/docs/assets/img/price_source_None_config.png
  documentation/docs/assets/img/price_source_custom_api_config.png
  documentation/docs/assets/img/price_source_exchange_config.png
  documentation/docs/strategies/advanced-mm/add-transaction-costs.md
  documentation/docs/strategies/advanced-mm/hanging-orders.md
  documentation/docs/strategies/advanced-mm/order-refresh-tolerance.md
  documentation/docs/strategies/advanced-mm/price-source.md
Labels: docs

#1815 docs / update sample configuration
  documentation/docs/assets/img/order_level_spread_amount1-new.png
  documentation/docs/strategies/advanced-mm/order-levels.md
Labels: docs

#1814 Refactor/exchange rate conversion
  bin/hummingbot.py
  bin/hummingbot_quickstart.py
  hummingbot/client/command/balance_command.py
  hummingbot/client/command/create_command.py
  hummingbot/client/command/exit_command.py
  hummingbot/client/command/history_command.py
  hummingbot/client/command/start_command.py
  hummingbot/client/config/config_helpers.py
  hummingbot/client/performance_analysis.py
  hummingbot/core/utils/exchange_rate_conversion.py
  hummingbot/core/utils/market_mid_price.py
  hummingbot/data_feed/binance_price_feed.py
  hummingbot/data_feed/exchange_price_manager.py
  hummingbot/data_feed/kucoin_price_feed.py
  hummingbot/data_feed/liquid_price_feed.py
  hummingbot/market/bamboo_relay/bamboo_relay_api_order_book_data_source.py
  hummingbot/market/radar_relay/radar_relay_api_order_book_data_source.py
  hummingbot/strategy/arbitrage/arbitrage.pxd
  hummingbot/strategy/arbitrage/arbitrage.pyx
  hummingbot/strategy/arbitrage/arbitrage_config_map.py
  hummingbot/strategy/arbitrage/start.py
  hummingbot/strategy/cross_exchange_market_making/cross_exchange_market_making.pxd
  hummingbot/strategy/cross_exchange_market_making/cross_exchange_market_making.pyx
  hummingbot/strategy/cross_exchange_market_making/cross_exchange_market_making_config_map.py
  hummingbot/strategy/cross_exchange_market_making/start.py
  hummingbot/strategy/pure_market_making/pure_market_making_config_map.py
  hummingbot/strategy/strategy_base.pyx
  hummingbot/templates/conf_arbitrage_strategy_TEMPLATE.yml
  hummingbot/templates/conf_cross_exchange_market_making_strategy_TEMPLATE.yml
  hummingbot/user/user_balances.py
  test/integration/test_config_process.py
  test/test_arbitrage.py
  test/test_cross_exchange_market_making.py
  test/test_exchange_price_manager.py
  test/test_exchange_rate_conversion.py
  test/test_performance_analysis.py
  test/test_trade_performance_analysis.py
Labels: refactor

#1705 Celo integration
  hummingbot/client/command/balance_command.py
  hummingbot/client/command/connect_command.py
  hummingbot/client/command/history_command.py
  hummingbot/client/command/status_command.py
  hummingbot/client/config/global_config_map.py
  hummingbot/client/ui/stdout_redirection.py
  hummingbot/core/utils/async_utils.py
  hummingbot/market/celo/celo_cli.py
  hummingbot/market/celo/celo_data_types.py
  hummingbot/strategy/celo_arb/__init__.py
  hummingbot/strategy/celo_arb/celo_arb.pxd
  hummingbot/strategy/celo_arb/celo_arb.pyx
  hummingbot/strategy/celo_arb/celo_arb_config_map.py
  hummingbot/strategy/celo_arb/start.py
  hummingbot/templates/conf_celo_arb_strategy_TEMPLATE.yml
  hummingbot/templates/conf_global_TEMPLATE.yml
  test/integration/assets/mock_data/fixture_celo.py
  test/integration/test_celo_cli.py
  test/test_celo_arb.py
Labels: celo
