Repository hummingbot/hummingbot, pull requests merged in 2021-09, with the labels that each got.

#3065 fix / telegram commands not working
  hummingbot/client/command/balance_command.py
  hummingbot/client/command/history_command.py
  hummingbot/client/command/order_book_command.py
  hummingbot/client/command/pnl_command.py
  hummingbot/client/command/start_command.py
  hummingbot/client/command/stop_command.py
  hummingbot/client/command/ticker_command.py
  hummingbot/client/command/trades_command.py
Labels: community contribution

#4028 (docs) doc updates for v0.43.0
  README.md
  documentation/docs/assets/img/gateio-account.png
  documentation/docs/assets/img/uniswap-v3-1.png
  documentation/docs/assets/img/uniswap-v3-2.png
  documentation/docs/assets/img/uniswap-v3-3.png
  documentation/docs/connectors/index.md
  documentation/docs/connectors/uniswap-v3.md
  documentation/docs/connectors/uniswap.md
  documentation/docs/release-notes/0.43.0.md
  documentation/docs/release-notes/index.md
  documentation/docs/strategies/uniswap-v3-lp.md
  documentation/mkdocs.yml
  hummingbot/strategy/uniswap_v3_lp/start.py
  hummingbot/strategy/uniswap_v3_lp/uniswap_v3_lp.py
  hummingbot/strategy/uniswap_v3_lp/uniswap_v3_lp_config_map.py
  hummingbot/templates/conf_uniswap_v3_lp_strategy_TEMPLATE.yml
Labels: documentation

#4097 Feat/gateway v2 tests
  gateway/conf/gateway-config-example.yml
  gateway/package.json
  gateway/src/app.ts
  gateway/src/chains/ethereum/ethereum.controllers.ts
  gateway/src/chains/ethereum/ethereum.routes.ts
  gateway/src/services/error-handler.ts
  gateway/src/services/ethereum-base.ts
  gateway/test-scripts/ethereum-base.test.ts
  gateway/test/services/ethereum-routes.test.ts
  gateway/test/services/fixtures/transaction-out-of-gas-receipt.json
  gateway/test/services/fixtures/transaction-out-of-gas.json
Labels: gateway

#2967 refactor / update celocli with v1.0.3
  Dockerfile
  hummingbot/market/celo/celo_cli.py
  test/connector/fixture_celo.py
  test/hummingbot/strategy/celo_arb/test_celo_arb.py
Labels: community contribution

#4090 feat / added maxNext parameter to next storageId request in Loopring
  hummingbot/connector/exchange/loopring/loopring_exchange.pyx
Labels: community contribution

#4214 Feat/update gateway script
  installation/docker-commands/create-gateway.sh
Labels: gateway

#4210 feat / updates to blocktane trading pair parser
  hummingbot/connector/exchange/blocktane/blocktane_exchange.pyx
  hummingbot/connector/exchange/blocktane/blocktane_utils.py
Labels: community contribution

#4248 adding postman enviroment and collections. Ethereum routes added.
  gateway/test/postman/collections/EthereumV2.postman_collection.json
  gateway/test/postman/enviroments/GatewayV2.postman_environment.json
Labels: gateway

#4272 doc / update strategy documentation format
  documentation/docs/strategies/amm-arbitrage.md
  documentation/docs/strategies/liquidity-mining.md
  documentation/docs/strategies/perpetual-market-making.md
  documentation/docs/strategies/spot-perpetual-arbitrage.md
Labels: documentation

#4301 Fix / Add throttler parameter for connector settings to fix paper trade on several connectors.
  hummingbot/connector/exchange/coinzoom/coinzoom_api_order_book_data_source.py
  hummingbot/connector/exchange/coinzoom/coinzoom_order_book_tracker.py
  hummingbot/connector/exchange/gate_io/gate_io_api_order_book_data_source.py
  hummingbot/connector/exchange/gate_io/gate_io_order_book_tracker.py
  hummingbot/connector/exchange/kraken/kraken_api_order_book_data_source.py
  hummingbot/connector/exchange/kraken/kraken_exchange.pyx
  hummingbot/connector/exchange/kraken/kraken_order_book_tracker.py
  hummingbot/connector/exchange/kucoin/kucoin_api_order_book_data_source.py
  hummingbot/connector/exchange/kucoin/kucoin_order_book_tracker.py
Labels: community contribution

#4299 Feat/add eslint to workflow
  .github/workflows/workflow.yml
  .pre-commit-config.yaml
  gateway/postman/collections/EthereumV2.postman_collection.json
  gateway/postman/enviroments/GatewayV2.postman_environment.json
  gateway/src/app.ts
  gateway/src/chains/ethereum/ethereum.controllers.ts
  gateway/src/chains/ethereum/ethereum.routes.ts
  gateway/src/chains/ethereum/evm.nonce.ts
  gateway/src/chains/ethereum/uniswap/uniswap.routes.ts
  gateway/src/services/config-manager.ts
Labels: gateway

#3930 epic/bybit connector
  hummingbot/connector/connector_status.py
  hummingbot/connector/derivative/binance_perpetual/binance_perpetual_derivative.py
  hummingbot/connector/derivative/bybit_perpetual/__init__.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_api_order_book_data_source.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_auth.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_constants.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_derivative.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_in_flight_order.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_order_book.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_order_book_tracker.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_user_stream_data_source.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_user_stream_tracker.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_utils.py
  hummingbot/connector/derivative/bybit_perpetual/bybit_perpetual_websocket_adaptor.py
  hummingbot/connector/derivative/bybit_perpetual/dummy.pxd
  hummingbot/connector/derivative/bybit_perpetual/dummy.pyx
  hummingbot/connector/exchange/probit/probit_api_order_book_data_source.py
  hummingbot/connector/in_flight_order_base.pyx
  hummingbot/connector/perpetual_trading.py
  hummingbot/core/data_type/funding_info.py
  hummingbot/core/data_type/order_book_tracker.py
  hummingbot/templates/conf_fee_overrides_TEMPLATE.yml
  hummingbot/templates/conf_global_TEMPLATE.yml
  setup.py
  test/hummingbot/connector/derivative/bybit_perpetual/__init__.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_api_order_book_data_source.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_auth.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_derivative.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_in_flight_order.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_order_book.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_order_book_tracker.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_user_stream_data_source.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_user_stream_tracker.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_utils.py
  test/hummingbot/connector/derivative/bybit_perpetual/test_bybit_perpetual_websocket_adaptor.py
Labels: epic

#4244 Refactor/gateway connectors
  hummingbot/connector/connector/balancer/balancer_connector.py
  hummingbot/connector/connector/uniswap/uniswap_connector.py
  hummingbot/connector/connector/uniswap/uniswap_in_flight_order.py
  hummingbot/connector/connector/uniswap_v3/uniswap_v3_connector.py
  hummingbot/connector/gateway_base.py
  hummingbot/connector/gateway_in_flight_order.py
Labels: gateway

#4325 doc / bybit perpetual dev
  documentation/docs/exchanges/bybit-perpetual.md
  documentation/mkdocs.yml
Labels: documentation

#4323 doc / release notes v0.44.0 dev
  documentation/docs/release-notes/0.44.0.md
  documentation/docs/release-notes/index.md
  documentation/mkdocs.yml
Labels: documentation

#4326 doc / bybit perpetual staging
  documentation/docs/exchanges/bybit-perpetual.md
  documentation/mkdocs.yml
Labels: documentation

#4324 doc / release notes v0.44.0 staging
  documentation/docs/release-notes/0.44.0.md
  documentation/docs/release-notes/index.md
  documentation/mkdocs.yml
Labels: documentation
