Repository hummingbot/hummingbot, pull requests merged in 2021-11, with the labels that each got.

#4581 refactor/migrate NetworkStatus to network_iterator
  hummingbot/core/network_base.py
  hummingbot/core/rate_oracle/rate_oracle.py
  hummingbot/data_feed/custom_api_data_feed.py
  hummingbot/data_feed/data_feed_base.py
  hummingbot/logger/log_server_client.py
  test/hummingbot/core/test_network_base.py
Labels: community contribution

#4546 Feat/separate actionable vs detailed log
  .github/workflows/workflow.yml
  gateway/conf/gateway-config-example.yml
  gateway/src/app.ts
  gateway/src/services/config-manager.ts
  gateway/src/services/logger.ts
Labels: gateway

#4645 Feat/add configuration for allowing telemetry
  gateway/conf/gateway-config-example.yml
  gateway/setup/config.sh
  gateway/src/services/config-manager.ts
Labels: gateway

#4642 Feat/metric to count calls to node
  gateway/src/chains/ethereum/ethereum.ts
  gateway/src/services/ethereum-base.ts
  gateway/test/services/ethereum.base.test.ts
Labels: gateway

#4697 add test for overwriting previous transactions on /approve API call
  gateway/test/chains/ethereum/ethereum.routes.test.ts
Labels: gateway

#4721 Feat/add gateway status to client's top status bar
  hummingbot/client/command/exit_command.py
  hummingbot/client/hummingbot_application.py
  hummingbot/client/ui/layout.py
  hummingbot/connector/gateway_base.py
Labels: gateway

#4739 Feat/gateway v2 eth base improvements
  gateway/src/chains/avalanche/avalanche.ts
  gateway/src/chains/ethereum/ethereum.controllers.ts
  gateway/src/chains/ethereum/ethereum.ts
  gateway/src/services/ethereum-base.ts
  gateway/test/chains/avalanche/avalanche.routes.test.ts
  gateway/test/chains/avalanche/pangolin/pangolin.routes.test.ts
  gateway/test/chains/ethereum/ethereum.controllers.test.ts
  gateway/test/chains/ethereum/ethereum.routes.test.ts
Labels: gateway

#4620 add new exchange mexc
  hummingbot/connector/exchange/mexc/__init__.py
  hummingbot/connector/exchange/mexc/constants.py
  hummingbot/connector/exchange/mexc/mexc_api_order_book_data_source.py
  hummingbot/connector/exchange/mexc/mexc_api_user_stream_data_source.py
  hummingbot/connector/exchange/mexc/mexc_auth.py
  hummingbot/connector/exchange/mexc/mexc_exchange.pxd
  hummingbot/connector/exchange/mexc/mexc_exchange.pyx
  hummingbot/connector/exchange/mexc/mexc_in_flight_order.pxd
  hummingbot/connector/exchange/mexc/mexc_in_flight_order.pyx
  hummingbot/connector/exchange/mexc/mexc_order_book.pxd
  hummingbot/connector/exchange/mexc/mexc_order_book.pyx
  hummingbot/connector/exchange/mexc/mexc_order_book_message.py
  hummingbot/connector/exchange/mexc/mexc_order_book_tracker.py
  hummingbot/connector/exchange/mexc/mexc_user_stream_tracker.py
  hummingbot/connector/exchange/mexc/mexc_utils.py
  hummingbot/templates/conf_global_TEMPLATE.yml
  test/hummingbot/connector/exchange/mexc/__init__.py
  test/hummingbot/connector/exchange/mexc/fixture_mexc.py
  test/hummingbot/connector/exchange/mexc/test_mexc_api_order_book_data_source.py
  test/hummingbot/connector/exchange/mexc/test_mexc_auth.py
  test/hummingbot/connector/exchange/mexc/test_mexc_market.py
Labels: 3 DP

#4563 feat / add WazirX connector
  .coveragerc
  README.md
  assets/wazirx-logo.png
  conf/__init__.py
  hummingbot/connector/connector_status.py
  hummingbot/connector/exchange/wazirx/__init__.py
  hummingbot/connector/exchange/wazirx/wazirx_active_order_tracker.pxd
  hummingbot/connector/exchange/wazirx/wazirx_active_order_tracker.pyx
  hummingbot/connector/exchange/wazirx/wazirx_api_order_book_data_source.py
  hummingbot/connector/exchange/wazirx/wazirx_api_user_stream_data_source.py
  hummingbot/connector/exchange/wazirx/wazirx_auth.py
  hummingbot/connector/exchange/wazirx/wazirx_constants.py
  hummingbot/connector/exchange/wazirx/wazirx_exchange.py
  hummingbot/connector/exchange/wazirx/wazirx_in_flight_order.py
  hummingbot/connector/exchange/wazirx/wazirx_order_book.py
  hummingbot/connector/exchange/wazirx/wazirx_order_book_message.py
  hummingbot/connector/exchange/wazirx/wazirx_order_book_tracker.py
  hummingbot/connector/exchange/wazirx/wazirx_order_book_tracker_entry.py
  hummingbot/connector/exchange/wazirx/wazirx_user_stream_tracker.py
  hummingbot/connector/exchange/wazirx/wazirx_utils.py
  hummingbot/templates/conf_global_TEMPLATE.yml
  test/connector/exchange/wazirx/__init__.py
  test/connector/exchange/wazirx/test_wazirx_auth.py
  test/connector/exchange/wazirx/test_wazirx_exchange.py
  test/connector/exchange/wazirx/test_wazirx_order_book_tracker.py
  test/connector/exchange/wazirx/test_wazirx_user_stream_tracker.py
Labels: 3 DP

#4663 fix/crypto com order book tracker default initialization parameter
  hummingbot/connector/exchange/crypto_com/crypto_com_order_book_tracker.py
Labels: community contribution, estimate

#4662 feat/Set a larger upper threshold for bid_spread and ask_spread
  hummingbot/strategy/perpetual_market_making/perpetual_market_making_config_map.py
  hummingbot/strategy/pure_market_making/pure_market_making_config_map.py
Labels: community contribution

#4783 doc / Ongoing docs v0.46.0
  README.md
  assets/mexc.jpg
  documentation/docs/assets/img/binance_papertrade.png
  documentation/docs/assets/img/closed-tabs.png
  documentation/docs/assets/img/closing-of-tabs.png
  documentation/docs/assets/img/config_exchange.png
  documentation/docs/assets/img/leftpane.png
  documentation/docs/assets/img/margins.png
  documentation/docs/assets/img/name-of-parameter.png
  documentation/docs/assets/img/papertrade_binance.png
  documentation/docs/assets/img/price_changes.png
  documentation/docs/assets/img/tab-opening.png
  documentation/docs/exchanges/blocktane.md
  documentation/docs/exchanges/index.md
  documentation/docs/exchanges/mexc.md
  documentation/docs/exchanges/wazirx.md
  documentation/docs/global-configs/index.md
  documentation/docs/global-configs/paper-trade.md
  documentation/docs/operation/history.md
  documentation/docs/operation/user-interface.md
  documentation/docs/release-notes/0.46.0.md
  documentation/docs/release-notes/index.md
  documentation/docs/strategies/avellaneda-market-making.md
  documentation/docs/strategies/perpetual-market-making.md
  documentation/mkdocs.yml
Labels: documentation
